
/* ================================================================= 
    큰 노트북 ----------------------------------------------------- */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .con {
    width: 90%;
  }
  /* 헤더 */
  h1 {
    width: 100px;
  }

  #gnb > ul {
    gap: 40px;
  }

  #gnb > ul > li > a {
    font-size: 16px;
  }

  /* ----------------------------------------------------------- */
  /* 푸터 */
  footer {
    width: 100%;
  }
  .foot_con {
    width: 100%;
  }
  .foot_content_box {
    width: 100%;
  }
}
/* ================================================================= 
          작은 노트북 ----------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 헤더 */
  .con {
    width: 95%;
  }
  h1 {
    width: 100px;
  }

  #gnb > ul {
    gap: 40px;
  }

  #gnb > ul > li > a {
    font-size: 13px;
  }

  /* 푸터 */
  footer {
    width: 100%;
  }
  .foot_con {
    width: 100%;
    gap: 30px;
  }
  .foot_content_box {
    width: 100%;
    gap: 40px;
  }
  .foot_right_top {
    gap: 25px;
  }

  .foot_right_bottom {
    gap: 16px;
  }
}
/* ================================================================= 
          테블릿 ----------------------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 헤더 */
  header {
    height: 80px;
  }
  .con {
    width: 95%;
    justify-content: space-between;
  }
  h1 {
    width: 100px;
  }

  #gnb > ul {
    display: none;
  }

  #gnb > ul > li > a {
    font-size: 9px;
  }
  푸터 */ footer {
    width: 100%;
  }
  .foot_con {
    width: 90%;
    padding: 10px 20px;
    height: 100%;
  }
  .foot_content_box {
    width: 100%;
    gap: 40px;
    height: 100%;
  }
  .foot_right_top {
    gap: 22px;
    flex-wrap: wrap;
  }

  .foot_con h3 {
    width: 52px;
    height: 14px;
    object-fit: cover;
  }

  .foot_right_top {
    margin-bottom: 8px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .foot_right_bottom {
    gap: 10px;
    flex-wrap: wrap;
  }
}
/* ================================================================= 
          모바일 ----------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* 헤더 */
  header {
    height: 80px;
  }
  .con {
    width: 95%;
    justify-content: space-between;
  }
  h1 {
    width: 100px;
  }

  #gnb > ul {
    display: none;
  }

  #gnb > ul > li > a {
    font-size: 9px;
  }
  푸터 */ footer {
    width: 100%;
  }
  .foot_con {
    width: 87%;
    padding: 10px 20px;
    height: 100%;
  }
  .foot_content_box {
    width: 100%;
    gap: 40px;
    height: 100%;
  }
  .foot_right_top {
    gap: 22px;
    flex-wrap: wrap;
  }

  .foot_con h3 {
    width: 52px;
    height: 14px;
    object-fit: cover;
  }

  .foot_right_top {
    margin-bottom: 8px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .foot_right_bottom {
    gap: 10px;
    flex-wrap: wrap;
  }
}
