@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

.main_visual {
  padding: 0;
  padding: 200px 20px;
  width: 100%;
  height: auto;
}

.main_wrap {
  width: 116%;
  gap: 20px;
}

.main_left {
  width: 140%;
  padding: 50px;
}
.main_image:nth-child(1) {
  top: 80px;
  left: 80px;
}
.main_image:nth-child(2) {
  width: 46%;
  height: 58%;
  top: 55px;
}
.main_image:nth-child(3) {
  width: 10%;
  height: 28%;
  top: 50px;
  right: 340px;
}
.main_text > div {
  width: 95%;
  margin-left: auto;
  font-size: 22px;
}

.main_right {
  width: 38%;
}

.right_top {
  width: 58%;
}

.right_top > p {
  width: 68%;
  font-size: 18px;
  margin-bottom: 0;
  margin-bottom: 40px;
}

.circle-graph {
  margin-bottom: 0;
  margin-bottom: 40px;
}

.circle-graph > canvas {
  width: 200px;
  height: 200px;
}

.right_top > h2 {
  font-size: 40px;
  font-weight: 700;
}
.swiper {
  width: 100%;
}
.swiper-wrapper {
  width: 120%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;

  gap: 20px;
}

.swiper p:first-child {
  font-size: 22px;
}
.swiper p:nth-child(2) {
  font-size: 20px;
}

/* -------------------------------------------------------- */
.main_sec1_con {
  width: 90%;
}
.left_card {
  width: 50%;
  margin-right: 12px;
}

.right_img_box {
  width: 60%;
}
/* ------------------------------------------------------------- */
.text_wrap {
  transform: translateX(168px);
}

.img_wrap {
  width: 100%;
  height: 100%;

  left: 778px;
  top: 77px;
}

.img_wrap > .review_img_box1 {
  width: 480px;
  height: 480px;
}

.img_wrap > .review_img_box2 {
  width: 380px;
  height: 380px;
}
/* ------------------------------------------------------------- */
.sec3_con {
  width: 72%;
}

.content_right {
  width: 90%;
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

.main_sec4,
.main_sec5,
footer {
  display: none;
}
