/* 큰 노트북 ------------------------------------------------------*/
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .con {
    width: 90%;
  }
  /* 헤더 */
  h1 {
    width: 100px;
  }

  #gnb {
    width: fit-content;
  }

  #gnb > ul {
    gap: 40px;
  }

  #gnb > ul > li > a {
    font-size: 16px;
  }

  /* 메인 비주얼 */
  .main_visual {
    padding: 200px 20px;
  }

  .main_wrap {
    width: 100%;
    gap: 20px;
    height: 700px;
  }
  .main_left {
    padding: 40px;
    height: 100%;
  }

  .main_image {
    width: 50%;
  }

  /* 왼쪽 메인비주얼 사진3개 */
  .main_image:nth-child(1) {
    top: 50px;
    left: 50px;
  }
  .main_image:nth-child(2) {
    width: 52%;
    height: 52%;
    top: 40px;
    left: 220px;
  }

  .main_image:nth-child(3) {
    width: 80px;
    height: fit-content;
    left: 500px;
  }

  .main_text > div {
    width: 90%;
    margin-left: auto;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
  }

  .main_text > h2 {
    font-size: 40px;
    padding-bottom: 24px;
    margin-bottom: 23px;
  }
  .main_text > p:nth-child(3) {
    font-size: 20px;
  }
  .main_text > p:nth-child(4) {
    font-size: 20px;
  }

  .circle-graph > canvas {
    width: 200px;
    height: 200px;
  }
  .right_top {
    width: 90%;
    height: 80%;
    margin-bottom: 20px;
  }
  .right_top > p {
    width: 76%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin-bottom: 75px;
  }

  .right_top > h2 {
    font-size: 38px;
  }
  .swiper {
    width: 90%;
    height: 17%;
    margin-left: 0;
    border-radius: 30px;
  }
  .swiper-wrapper {
    width: 260px;
    gap: 10px;
  }
  .swiper-slide {
    width: 50%;
    gap: 0px;
  }
  .swiper-slide img {
    width: 70%;
    height: 70%;
  }

  .swiper p:first-child {
    width: 70%;
    font-size: 18px;
    margin-top: 20px;
  }

  .swiper p:nth-child(2) {
    display: none;
  }

  .safe_txt {
    width: 300px;
  }
  /* 첫번째 섹션 */
  /* .main_sec1 .floating_btn {
    width: 40px;
    height: 40px;
    right: 50px;
  } */
  /* ------------------------------------------------------------- */
  .main_sec1,
  .main_sec2,
  .main_sec3,
  .main_sec4,
  .main_sec5,
  footer {
    display: none;
  }
}
