@charset "utf-8";
@import url("./reset.css");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff");

body {
  font-family: "NEXON Lv2 Gothic";
  font-size: 16px;
  background-color: #fff;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.2);
  position: fixed;
  z-index: 999;
  background-color: #fff;
}
.con {
  width: 1650px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  width: fit-content;
  height: fit-content;
  align-self: center;
}

#gnb {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 60px;
  align-items: center;
}

#gnb > ul > li {
  width: 110px;
  height: 100%;
}

#gnb > ul > li > a {
  width: 100%;
  height: fit-content;
  font-size: 17px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s;
  line-height: 50px;
  border-bottom: 2px solid #fff;
}

#gnb > ul > li:hover > a {
  font-size: 18px;
  font-weight: 600;
  /* color: var(--main-color); */
  border-bottom: 2px solid var(--main-color);
  line-height: 50px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.icons div {
  transition: 0.3s;
}
.icons div:hover {
  transform: scale(1.2);
}

/*섹션 공통*/
section {
  width: 100%;
  height: auto;
}

/*메인 전체 영역*/
.main_visual {
  padding: 200px 0;
  width: 100%;
  height: auto;
}
.main_wrap {
  width: 1760px;
  height: 820px;
  margin: 0 auto;
  display: flex;
  gap: 33px;
}
/*메인 왼쪽 영역*/
.main_left {
  width: 1044px;
  height: 820px;
  background-color: #ffcd34;
  background-image: url(/img/main/main-banner-background.png);
  border-radius: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  padding: 60px;
  box-sizing: border-box;
}
/*왼쪽 이미지 영역*/
.main_image {
  width: fit-content;
  height: fit-content;
  position: absolute;
}
.main_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_image:nth-child(1) {
  top: 100px;
  left: 90px;
  z-index: 100;
}
.main_image:nth-child(2) {
  width: 500px;
  height: 500px;
  top: 62px;
  left: 250px;
  transform-origin: center;
  animation: record 15s linear 0s infinite;
}
@keyframes record {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main_image:nth-child(3) {
  width: fit-content;
  height: fit-content;
  top: 30px;
  right: 300px;
}
.main_image
/*왼쪽 텍스트 영역*/
.main_text {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.main_text > div {
  width: 100%;
  height: 46px;
  background-color: #fff;
  text-align: center;
  line-height: 46px;
  border-radius: 15px;
  margin-bottom: 30px;
  font-size: var(--sm-font-size);
  font-weight: 400;
}
.main_text > h2 {
  font-size: var(--lg-font-size);
  font-weight: 300;
  text-align: right;
  padding-bottom: 40px;
  border-bottom: 2px solid #000;
  margin-bottom: 40px;
}
.main_text > h2 > span {
  font-weight: 600;
}
.main_text > p:nth-child(3) {
  font-size: var(--sm-font-size);
  font-weight: 400;
  margin-bottom: 20px;
  text-align: right;
}
.main_text > p:nth-child(4) {
  font-size: var(--sm-font-size);
  font-weight: 300;
  text-align: right;
}
/*메인 오른쪽 영역*/
.main_right {
  width: 683px;
  height: 100%;
}
.graph-wrap {
  display: flex;
  gap: 50px;
}
.circle-graph {
  position: relative;
  margin-bottom: 60px;
}
.circle-graph > strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/* 메인 오른쪽-상단 */
.right_top {
  width: 683px;
  height: 600px;
  background-color: #f6f6f6;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
/* 메인 오른쪽- 제목 */
.right_top > p {
  background-color: #35312f;
  width: 321px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  font-size: var(--sm-font-size);
  font-weight: 300;
  margin-bottom: 50px;
}

/* 메인 오른쪽- 진행율 숫자 */
.right_top > h2 {
  font-size: var(--xl-font-size);
  font-weight: 700;
}

/* 메인 오른쪽-하단 */
.right_bottom {
  width: 682px;
  height: 186px;
  background-color: #f6f6f6;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.right_bottom p:first-child {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.right_bottom p:nth-child(2) {
  font-size: var(--sm-font-size);
  font-weight: 200;
}

/* 첫번째 섹션 - hot track */

.main_sec1 {
  width: 100%;
  height: auto;
}

/* 첫번째 섹션 - 제목 */
.track_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 14px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.track_box img {
  width: 70px;
  height: 70px;
}

.hot_txt p:first-child {
  font-size: var(--xs-font-size);
  font-weight: 500;
  margin-bottom: 8px;
}

.hot_txt p:nth-child(2) {
  font-size: var(--lg-font-size);
  font-weight: 700;
}

/* 첫번째 섹션 - 사진 */
.track_show {
  margin: 0 auto;
  width: fit-content;
  height: 733px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left_img_box {
  width: fit-content;
  height: 100%;
}

.left_img_box > a {
  width: 100%;
  height: 100%;
}

.right_img_box {
  width: fit-content;
  height: 733px;
}

.right_img_box a {
  width: 273px;
  height: 358px;
}

.right_box_top {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;
}

.right_box_bottom {
  display: flex;
  gap: 16px;
}

.left_img_box > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.right_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* 첫번째 섹션 - 전체보기 버튼 */
.sec1_btn {
  width: 1443px;
  height: 100%;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  margin: 68px auto;
  margin-bottom: 300px;
}

.sec1_btn > a {
  display: flex;
  justify-content: center;
  width: 200px;
  height: fit-content;
  font-size: var(--xs-font-size);
  transition: 0.3s;
  margin: 0;
  background-color: #e4e4e4;
  border-radius: 10px;
  margin-left: auto;
  font-weight: 500;
}
/* 첫번째 섹션 - 전체보기 버튼 / 마우스를 올리면 */
.sec1_btn:hover a {
  width: 200px;
  /* font-weight: 600; */
  background-color: #ffcd34;
  border-radius: 10px;
}

/* 두번째 섹션 - review track */
.main_sec2 {
  width: 100%;
  height: 1030px;
  overflow: hidden;
}

.sec2_con {
  width: 100%;
  height: 730px;
  background-color: #332f2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text_wrap {
  width: fit-content;
  height: fit-content;
  margin-left: 232px;
}

.text_wrap > .track_box {
  color: #fff;
  margin-bottom: 80px;
  margin-left: 0px;
}

/* 두번째 섹션 - 유저프로필, 아이디 */
.user_box {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  align-items: center;
  color: #fff;
  margin-left: 5px;
}

.user_box > div:nth-of-type(1) {
  width: 48px;
  height: 48px;
  overflow: hidden;
  background-color: #e4e4e4;
  border-radius: 100%;
}

/* 두번째섹션 - 리뷰글 */
.text_wrap > h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 75px;
  margin-left: 5px;
}

.text_wrap > p {
  font-size: 20px;
  font-weight: 300;
  color: #ffffffad;
  line-height: 40px;
  width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
}

/* 두번째 섹션 - 버튼 */
.sec2_btn {
  width: fit-content;
  height: fit-content;
}

.sec2_btn > a {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 13px 60px;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 400;
  margin-top: 50px;
  gap: 15px;
  transition: 0.5s;
}

.sec2_btn:hover > a {
  font-weight: 500;
}

.sec2_btn > a > img {
  padding-top: 2.5px;
}

/* 두번째 섹션- 리뷰이미지 */
.img_wrap {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 850px;
  top: 200px;
  display: flex;
  gap: 30px;
  align-items: end;
}

.img_wrap > div:nth-of-type(1) {
  width: 640px;
  height: 640px;
  overflow: hidden;
  border-radius: 50px;
}

.img_wrap > div:nth-of-type(1) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_wrap > div:nth-of-type(2) {
  width: 538px;
  height: 538px;
  border-radius: 50px;
  overflow: hidden;
}

/* 세번째 섹션 - to sell track */
.main_sec3 {
  width: 100%;
  height: fit-content;
}

.sec3_con {
  width: fit-content;
  height: fit-content;
  margin: 0 232px;
}

/* 세번째 섹션 - 제목 */
.main_sec3 .track_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-left: 0;
  gap: 14px;
  margin-bottom: 120px;
}
.track_box img {
  width: 70px;
  height: 70px;
}

.tosell_txt p:first-child {
  font-size: var(--xs-font-size);
  font-weight: 500;
  margin-bottom: 8px;
}

.tosell_txt p:nth-child(2) {
  font-size: var(--lg-font-size);
  font-weight: 700;
}

/* 세번째 섹션 - 내용 */
.content_wrap {
  width: fit-content;
  height: 792px;
  margin: 0 auto;
  display: flex;
}

/* 세번째 섹션 - 왼쪽 영역 (지역) */
.content_left {
  width: 120px;
  height: 792px;
}

.region_box {
  font-size: 24px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 100px;
  border-left: 2px solid #949494;
  margin-left: 15px;
  cursor: pointer;
}

.region_box > p::before {
  width: 20px;
  height: 2px;
  background-color: #949494;
  display: inline-block;
  content: "";
  margin-right: 8px;
  margin-bottom: 8px;
}

.region_box p {
  transition: 0.5s;
}

/* 지역키워드에 마우스를 올리면 */
.region_box:hover p {
  color: #ffcd34;
  font-size: 28px;
  font-weight: 600;
}

/* 세번째 섹션 - 오른쪽 영역 (이미지, 글, 그래프) */
.content_right {
  width: 1310px;
  height: fit-content;
}

.img_txt1 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.img_txt2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.img_txt3 {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.img_txt_left {
  width: fit-content;
  height: fit-content;
  gap: 28px;
  display: flex;
}

.img_txt_right {
  width: fit-content;
  height: fit-content;
  gap: 28px;
  display: flex;
}

/* 공연 이미지박스 */
.content_img {
  width: 180px;
  height: 240px;
  overflow: hidden;
  border-radius: 20px;
}

/* 공연 이미지 */
.content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 글, 그래프 */
.content_txt {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* 공연이름, 요약글 */
.content_txt_box h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.content_txt_box p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

/* 좋아요 수 */
.content_txt_box > div:nth-child(3) {
  display: flex;
  gap: 5px;
}

/* 그래프 설명 */
.graph_txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.sec3_btn {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

.sec3_btn > a {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 13px 60px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #efefef;
  font-weight: 400;
  margin-top: 70px;
  gap: 15px;
  transition: 0.5s;
}

.sec3_btn:hover > a {
  font-weight: 500;
}

.sec3_btn > a > img {
  padding-top: 2.5px;
}

/* 네번째 섹션- only track */
.main_sec4 {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}
.sec4_con {
  width: 100%;
  height: 300px;
  background-color: #332f2d;
  display: flex;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 300px;
}

/* 네번째 섹션 - 제목 */
.sec4_con .track_box {
  width: 500px;
  height: fit-content;
  display: flex;
  margin-left: 232px;
  gap: 14px;
  margin-top: 120px;
}
.sec4_con .track_box img {
  width: 70px;
  height: 70px;
}

.only_txt p:first-child {
  font-size: var(--xs-font-size);
  font-weight: 500;
  margin-bottom: 8px;
  color: #fff;
}

.only_txt p:nth-child(2) {
  font-size: var(--lg-font-size);
  font-weight: 700;
  color: #fff;
}

/* 네번째 섹션 - 공연 이미지박스 */
.sec4_img_wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}

.sec4_img_wrap > div {
  width: 230px;
  height: 330px;
  overflow: hidden;
  border-radius: 20px;
}
.sec4_img_wrap > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 다섯번째 섹션 - service track */
.main_sec5 {
  width: fit-content;
  height: fit-content;
}

.sec5_con {
  width: 1462px;
  height: 525px;
}

.sec5_top {
  width: 100%;
  height: 94px;
  display: flex;
}

.sec4_con .track_box {
  width: 500px;
  height: fit-content;
  display: flex;
  margin-left: 232px;
  gap: 14px;
  margin-top: 120px;
}
.sec5_con .track_box img {
  width: 70px;
  height: 70px;
}

.service_txt p:first-child {
  font-size: var(--xs-font-size);
  font-weight: 500;
  margin-bottom: 8px;
}

.service_txt p:nth-child(2) {
  font-size: var(--lg-font-size);
  font-weight: 700;
}

.sec5_icon_wrap {
  display: flex;
  gap: 160px;
}

.icon_box1 {
}
