@charset "utf-8";
@import url("./common_responsive.css");

/* ================================================================= 
    큰 노트북 ----------------------------------------------------- */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 첫번쨰 섹션--------------------------------------------------- */
  .sub4_sec1_con {
    width: 100%;
    gap: 100px;
    justify-content: center;
  }

  .sub4_sec1_con_text {
    width: fit-content;
  }

  .sub4_sec1_text_top h2 {
    width: fit-content;
    font-size: 38px;
    margin-bottom: 36px;
  }
  .sub4_sec1_text_top p:nth-of-type(1) {
    font-size: clamp(16px, 1.6vw, 20px);
    margin-bottom: 20px;
  }
  .sub4_sec1_text_top p:nth-of-type(2) {
    font-size: clamp(14px, 1.4vw, 20px);
  }
  .sub4_sec1_text_bottom {
    gap: 45px;
    margin-top: 80px;
  }

  .sub4_sec1_text_bottom div p:first-child {
    font-size: clamp(18px, 2vw, 22px);
  }
  .sub4_sec1_text_bottom div p:nth-child(2) {
    font-size: clamp(18px, 2vw, 22px);
    margin-left: 28px;
  }

  .sub4_sec1_text_bottom p:first-child:before {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    margin-bottom: 1px;
  }

  .sub4_sec1_con_img {
    width: 40%;
    height: 100%;
  }

  /* 두번쨰 섹션--------------------------------------------------- */
  .sub4_sec2_con {
    width: 95%;
    margin: 0 auto;
  }

  .swiper_meSwiper {
    height: auto;
    gap: 0;
  }
  .swiper_meSwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 410px;
    margin-bottom: 20px;
  }
  .swiper_meSwiper p:nth-child(1) {
    font-size: clamp(24px, 2.2vw, 28px);
  }

  .swiper-slide {
    width: 300px;
  }

  /* 세번째 섹션--------------------------------------------------- */
  .sub4_sec3 {
    overflow: hidden;
  }
  .sub4_sec3_con {
    width: 100%;
    height: auto;
  }
  .sub4_sec3_topbox {
    width: 200%;
  }
  @keyframes slideleft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(30%);
    }
  }
  .sub4_sec3_middlebox {
    width: 200%;
  }

  @keyframes slideright {
    0% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  .sub4_sec3_bottombox {
    width: 200%;
  }
  @keyframes slidebottom {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(30%);
    }
  }
}

/* ================================================================= 
    작은 노트북 ----------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 첫번쨰 섹션--------------------------------------------------- */
  .sub4_sec1_con {
    width: 100%;
    gap: 14px;
    justify-content: space-around;
  }

  .sub4_sec1_con_text {
    width: fit-content;
  }

  .sub4_sec1_text_top h2 {
    width: fit-content;
    font-size: clamp(32px, 3vw, 38px);
    margin-bottom: 36px;
  }
  .sub4_sec1_text_top p:nth-of-type(1) {
    font-size: clamp(16px, 1.6vw, 20px);
    margin-bottom: 20px;
  }
  .sub4_sec1_text_top p:nth-of-type(2) {
    font-size: clamp(14px, 1.4vw, 20px);
  }
  .sub4_sec1_text_bottom {
    gap: 45px;
    margin-top: 42px;
  }

  .sub4_sec1_text_bottom div p:first-child {
    font-size: clamp(18px, 2vw, 22px);
  }
  .sub4_sec1_text_bottom div p:nth-child(2) {
    font-size: clamp(18px, 2vw, 22px);
    margin-left: 22px;
    line-height: 70px;
  }

  .sub4_sec1_text_bottom p:first-child:before {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .sub4_sec1_con_img {
    width: 40%;
    height: 100%;
  }

  /* 두번쨰 섹션--------------------------------------------------- */
  .sub4_sec2_con {
    width: 92%;
    margin: 0 auto;
  }
  .swiper_meSwiper {
    height: auto;
    gap: 0;
  }
  .sub4_sec2_top h2 {
    font-size: clamp(32px, 3vw, 38px);
  }
  #sub4_sec2_all_menu > ul {
    gap: clamp(25px, 4vw, 60px);
  }
  #sub4_sec2_all_menu > ul > li {
    width: 87px;
  }
  #sub4_sec2_all_menu > ul > li > a {
    font-size: clamp(12px, 2vw, 16px);
  }
  .swiper_meSwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 40vw;
    margin-bottom: 20px;
  }
  .swiper_meSwiper .sec2_card_content {
    width: 100%;
  }

  .swiper_meSwiper p:nth-child(1) {
    font-size: clamp(20px, 2.6vw, 26px);
  }
  .swiper_meSwiper p:nth-child(2) {
    font-size: clamp(18px, 2.6vw, 24px);
  }
  .swiper_meSwiper p:nth-child(3) {
    font-size: 26px;
  }
  /* 세번째 섹션--------------------------------------------------- */
  .sub4_sec3 {
    overflow: hidden;
  }
  .sub4_sec3_con {
    width: 100%;
    height: auto;
  }
  .sub4_sec3_topbox {
    width: 200%;
  }
  @keyframes slideleft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(30%);
    }
  }
  .sub4_sec3_middlebox {
    width: 200%;
  }

  @keyframes slideright {
    0% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  .sub4_sec3_bottombox {
    width: 200%;
  }
  @keyframes slidebottom {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(30%);
    }
  }
}

/* ================================================================= 
    테블릿 ----------------------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 첫번째 섹션--------------------------------------------------- */
  .sub4_sec1 {
    padding: 120px 0;
  }
  .sub4_sec1_con {
    width: 88%;
    flex-wrap: wrap-reverse;
    gap: 14px;
    justify-content: space-around;
    margin: 0 auto;
  }

  .sub4_sec1_con_text {
    width: 100%;
  }

  .sub4_sec1_text_top h2 {
    width: fit-content;
    font-size: clamp(32px, 3vw, 38px);
    margin-bottom: 36px;
  }
  .sub4_sec1_text_top p:nth-of-type(1) {
    font-size: clamp(16px, 1.6vw, 20px);
    margin-bottom: 20px;
  }
  .sub4_sec1_text_top p:nth-of-type(2) {
    font-size: clamp(12px, 1.4vw, 20px);
  }
  .sub4_sec1_text_bottom {
    gap: 45px;
    margin-top: 42px;
  }

  .sub4_sec1_text_bottom div p:first-child {
    font-size: clamp(18px, 2vw, 22px);
  }
  .sub4_sec1_text_bottom div p:nth-child(2) {
    font-size: clamp(18px, 2vw, 22px);
    margin-left: 22px;
    line-height: 70px;
  }

  .sub4_sec1_text_bottom p:first-child:before {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .sub4_sec1_con_img {
    width: 100%;
    height: 50vw;
  }

  /* 두번째 섹션------------------------- */

  .sub4_sec2 {
    padding: 150px 0;
  }
  .sub4_sec2_con {
    width: 92%;
    margin: 0 auto;
  }
  .swiper_meSwiper {
    height: auto;
    gap: 0;
  }

  .sub4_sec2_top {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .sub4_sec2_top h2 {
    font-size: clamp(32px, 3vw, 38px);
  }

  #sub4_sec2_all_menu {
    padding: 0;
  }
  #sub4_sec2_all_menu > ul {
    gap: 0px;
    justify-content: center;
  }

  #sub4_sec2_all_menu > ul > li {
    width: 87px;
  }
  #sub4_sec2_all_menu > ul > li > a {
    font-size: clamp(12px, 2vw, 16px);
  }
  .swiper_meSwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 290px;
    margin-bottom: 12px;
  }
  .swiper_meSwiper .sec2_card_content {
    width: 100%;
  }
  .swiper-slide {
    width: 280px;
  }

  .swiper_meSwiper p:nth-child(1) {
    font-size: clamp(18px, 2.6vw, 26px);
  }
  .swiper_meSwiper p:nth-child(2) {
    font-size: clamp(16px, 2.6vw, 24px);
  }
  .swiper_meSwiper p:nth-child(3) {
    font-size: 24px;
  }

  /* 세번째 섹션------------------------- */

  .sub4_sec3 {
    overflow: hidden;
  }
  .sub4_sec3_con {
    width: 94%;
    height: auto;
  }

  .sub4_sec3_wrap1 p:first-child {
    font-size: 32px;
  }

  .sub4_sec3_wrap1 p:nth-child(2) {
    font-size: 20px;
  }

  .sub4_sec3_topbox {
    width: 340%;
    gap: 20px;
  }
  .topbox_num1 {
    width: 350px;
    height: 70px;
  }
  .topbox_num1 div:nth-child(1) {
    width: 60px;
    height: 55px;
  }
  .topbox_num1 div:nth-child(1) img {
    border-radius: 10px;
  }
  .topbox_num1 p:nth-of-type(1) {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .topbox_num1 p:nth-of-type(2) {
    font-size: 11px;
  }
  .topbox_num2 {
    width: 50px;
  }

  /* 두번째 박스 */
  .sub4_sec3_middlebox {
    width: 340%;
    gap: 20px;
  }

  .middlebox_num1 {
    width: 350px;
    height: 70px;
  }
  .middlebox_num1 div:nth-child(1) {
    width: 60px;
    height: 55px;
  }
  .middlebox_num1 div:nth-child(1) img {
    border-radius: 10px;
  }
  .middlebox_num1 p:nth-of-type(1) {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .middlebox_num1 p:nth-of-type(2) {
    font-size: 11px;
  }
  .middlebox_num2 {
    width: 50px;
  }

  /* 세번째 박스 */
  .sub4_sec3_bottombox {
    width: 340%;
    gap: 20px;
  }
  .bottombox_num1 {
    width: 350px;
    height: 70px;
  }
  .bottombox_num1 div:nth-child(1) {
    width: 60px;
    height: 55px;
  }
  .bottombox_num1 div:nth-child(1) img {
    border-radius: 10px;
  }
  .bottombox_num1 p:nth-of-type(1) {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .bottombox_num1 p:nth-of-type(2) {
    font-size: 11px;
  }
  .bottombox_num2 {
    width: 50px;
  }

  @keyframes slideleft {
    0% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(20%);
    }
  }

  @keyframes slideright {
    0% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(-20%);
    }
  }

  @keyframes slidebottom {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(40%);
    }
  }
}

/* ================================================================= 
    모바일 ----------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* 첫번째 섹션------------------------- */
  .floating_btn {
    width: 40px;
    height: 40px;
  }
  .sub4_sec1 {
    padding: 120px 0;
    padding-bottom: 14vw;
  }
  .sub4_sec1_con {
    width: 88%;
    flex-wrap: wrap-reverse;
    gap: 14px;
    justify-content: space-around;
    margin: 0 auto;
  }

  .sub4_sec1_con_text {
    width: 100%;
  }

  .sub4_sec1_text_top h2 {
    width: fit-content;
    font-size: clamp(26px, 5vw, 38px);
    margin-bottom: 22px;
  }
  .sub4_sec1_text_top p:nth-of-type(1) {
    font-size: clamp(12px, 3.4vw, 20px);
    margin-bottom: 20px;
  }
  .sub4_sec1_text_top p:nth-of-type(2) {
    font-size: clamp(12px, 1.4vw, 20px);
    display: none;
  }
  .sub4_sec1_text_bottom {
    gap: 28px;
    margin-top: 45px;
  }

  .sub4_sec1_text_bottom div p:first-child {
    font-size: clamp(13px, 4vw, 20px);
  }
  .sub4_sec1_text_bottom div p:nth-child(2) {
    font-size: clamp(18px, 2vw, 22px);
    margin-left: 22px;
    line-height: 70px;
  }

  .sub4_sec1_text_bottom p:first-child:before {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .sub4_sec1_con_img {
    width: 100%;
    height: 50vw;
  }

  /* 두번째 섹션------------------------- */
  .sub4_sec2 {
    padding: 16vw 0;
  }
  .sub4_sec2_con {
    width: 92%;
    margin: 0 auto;
  }
  .swiper_meSwiper {
    height: auto;
    gap: 0;
  }

  .sub4_sec2_top {
    margin-bottom: 35px;
  }
  .sub4_sec2_top h2 {
    font-size: clamp(26px, 5vw, 38px);
  }
  .swiper-wrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  #sub4_sec2_all_menu {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  #sub4_sec2_all_menu > ul {
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #sub4_sec2_all_menu > ul > li {
    width: 76px;
    justify-content: center;
  }
  #sub4_sec2_all_menu > ul > li > a {
    font-size: clamp(13px, 2vw, 16px);
    line-height: 38px;
  }

  .swiper-slide swiper-slide-next {
    width: 38vw;
  }
  .swiper_meSwiper .swiper-slide > div:first-child {
    max-width: 100%;
    margin-bottom: 10px;
    height: 65vw;
  }

  .swiper-slide {
    width: 280px;
  }
  .swiper_meSwiper .sec2_card_content {
    width: 100%;
    text-align: center;
  }
  .swiper_meSwiper p:nth-child(1) {
    font-size: clamp(12px, 4vw, 16px);
    line-height: 30px;
  }
  .swiper_meSwiper p:nth-child(2) {
    font-size: clamp(12px, 4vw, 16px);
  }
  .swiper_meSwiper p:nth-child(3) {
    font-size: clamp(22px, 6vw, 28px);
  }

  .swiper_meSwiper .sec2_card_content {
    margin-right: 76px;
  }

  /* 세번째 섹션------------------------- */
  .sub4_sec3 {
    overflow: hidden;
    margin-top: 100px;
  }
  .sub4_sec3_con {
    width: 94%;
    height: auto;
  }

  .sub4_sec3_wrap1 p:first-child {
    font-size: clamp(21px, 6.6vw, 28px);
  }

  .sub4_sec3_wrap1 p:nth-child(2) {
    font-size: 20px;
  }

  /* 첫번재 박스 애니메이션 */
  .sub4_sec3_topbox {
    width: 500%;
    gap: 15px;
    animation: slideleft 18s linear infinite;
    margin-top: 60px;
  }

  .topbox_num1 {
    width: 260px;
    height: 56px;
    gap: 10px;
    border-radius: 12px;
  }
  .topbox_num1 div:nth-child(1) {
    margin-left: 10px;
    width: 50px;
    height: 40px;
  }
  .topbox_num1 div:nth-child(1) img {
    border-radius: 7px;
  }

  .topbox_num1 p:nth-of-type(1) {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .topbox_num1 p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 400;
  }

  .topbox_num2 {
    width: 40px;
  }

  /* 두번재 박스 애니메이션 */
  .sub4_sec3_middlebox {
    width: 500%;
    gap: 15px;
    animation: slideleft 18s linear infinite;
    margin-top: 50px;
  }

  .middlebox_num1 {
    width: 260px;
    height: 56px;
    gap: 10px;
    border-radius: 12px;
  }
  .middlebox_num1 div:nth-child(1) {
    margin-left: 10px;
    width: 50px;
    height: 40px;
  }
  .middlebox_num1 div:nth-child(1) img {
    border-radius: 7px;
  }

  .middlebox_num1 p:nth-of-type(1) {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .middlebox_num1 p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 400;
  }
  .middlebox_num2 {
    width: 40px;
  }

  /* 세번재 박스 애니메이션 */
  .sub4_sec3_bottombox {
    width: 500%;
    gap: 15px;
    animation: slideleft 16s linear infinite;
    margin-top: 50px;
  }

  .bottombox_num1 {
    width: 260px;
    height: 56px;
    gap: 10px;
    border-radius: 12px;
  }
  .bottombox_num1 div:nth-child(1) {
    margin-left: 10px;
    width: 50px;
    height: 40px;
  }
  .bottombox_num1 div:nth-child(1) img {
    border-radius: 7px;
  }

  .bottombox_num1 p:nth-of-type(1) {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .bottombox_num1 p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 400;
  }
  .bottombox_num2 {
    width: 40px;
  }

  @keyframes slideleft {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(20%);
    }
  }

  @keyframes slideright {
    0% {
      transform: translateX(35%);
    }
    100% {
      transform: translateX(-20%);
    }
  }

  @keyframes slidebottom {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(10%);
    }
  }

  .sub4_sec3_btn a {
    font-size: 14px;
    padding: 8px 20px;
    margin-top: 50px;
  }
  .sub4_sec3_btn > a > img {
    width: 15%;
  }
}
