@charset "utf-8";
@import url("./common_responsive.css");

/* ================================================================= 
    pc ----------------------------------------------------- */
@media screen and (min-width: 1441px) {
  .sub2_sec1_con {
    width: 94%;
    margin: 0 auto;
  }

  .swiper_mySwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 30vw;
    margin-bottom: 20px;
  }
  .swiper_mySwiper .sec1_card_content {
    width: 100%;
  }
  .swiper-slide {
    width: 300px;
  }
  /* 두번째 섹션------------------------- */
  .sec2_card > div:first-child {
    width: clamp(250px, 25vw, 300px);
    height: clamp(300px, 34vw, 430px);
    margin-bottom: 20px;
  }

  .sec2_card .sec2_card_content > p:nth-child(1) {
    font-size: clamp(18px, 2vw, 20px);
  }

  .sec2_card .sec2_card_content > p:nth-child(2) {
    font-size: clamp(18px, 2vw, 20px);
  }

  .sub2_sec2_bottom {
    height: auto;
  }
  /* 세번째 섹션------------------------- */
  .sub2_sec3_bottom {
    height: auto;
  }
}
/* ================================================================= 
    큰 노트북 ----------------------------------------------------- */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 첫번째 섹션------------------------- */

  .sub2_sec1_con {
    width: 95%;
    margin: 0 auto;
  }
  .swiper_mySwiper {
    height: auto;
  }
  .swiper_mySwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 30vw;
    margin-bottom: 20px;
  }

  .swiper_mySwiper .sec1_card_content {
    width: 100%;
  }
  .swiper-slide {
    width: 280px;
  }

  /* 두번째 섹션------------------------- */

  .sec2_card > div:first-child {
    width: clamp(250px, 25vw, 300px);
    height: clamp(300px, 34vw, 430px);
    margin-bottom: 20px;
  }

  .sec2_card .sec2_card_content > p:nth-child(1) {
    font-size: clamp(18px, 2vw, 20px);
  }

  .sec2_card .sec2_card_content > p:nth-child(2) {
    font-size: clamp(18px, 2vw, 20px);
  }
  .sec2_card:nth-child(4) {
    display: none;
  }

  .sub2_sec2_bottom {
    height: auto;
  }
  /* 세번째 섹션------------------------- */

  .sub2_sec3_bottom {
    height: auto;
    padding: 0px 36px;
  }
}

/* ================================================================= 
    작은 노트북 ----------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 첫번째 섹션------------------------- */
  .sub2_sec1_con {
    width: 92%;
    margin: 0 auto;
  }
  .swiper_mySwiper {
    height: auto;
  }
  .sub2_sec1_top h2 {
    font-size: clamp(38px, 3vw, 48px);
  }
  #sub2_sec1_all_menu > ul {
    gap: clamp(25px, 4vw, 60px);
  }

  .swiper_mySwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 40vw;
    margin-bottom: 20px;
  }
  .swiper_mySwiper .sec1_card_content {
    width: 100%;
  }
  .swiper-slide {
    width: 280px;
  }

  .swiper_mySwiper p:nth-child(1) {
    font-size: clamp(20px, 2.6vw, 26px);
  }
  .swiper_mySwiper p:nth-child(2) {
    font-size: clamp(18px, 2.6vw, 24px);
  }

  /* 두번째 섹션------------------------- */

  .sub2_sec2_con {
    width: 92%;
    margin: 0 auto;
  }
  #sub2_sec2_all_menu > ul {
    gap: clamp(25px, 4vw, 60px);
  }

  .sec2_card > div:first-child {
    width: clamp(120px, 28vw, 280px);
    height: clamp(290px, 38vw, 380px);
    margin-bottom: 20px;
  }

  .sec2_card .sec2_card_content > p:nth-child(1) {
    font-size: clamp(18px, 2vw, 20px);
  }

  .sec2_card .sec2_card_content > p:nth-child(2) {
    font-size: clamp(18px, 2vw, 20px);
  }
  .sec2_card:nth-child(4) {
    display: none;
  }

  .sub2_sec2_bottom {
    height: auto;
    gap: 20px;
  }
  /* 세번째 섹션------------------------- */

  .sub2_sec3_bottom {
    height: auto;
    padding: 0px 36px;
    gap: 36px;
  }
  .sub2_sec3_top h2 {
    font-size: 36px;
  }
  #sub2_sec3_all_menu > ul {
    gap: 24px;
  }
  #sub2_sec3_all_menu > ul > li > a {
    font-size: 18px;
  }

  .sec3_card > div:first-child {
    width: 200px;
    height: 300px;
  }
  .sec3_card .sec3_card_content > p:nth-child(1) {
    font-size: 20px;
  }
  .sec3_card .sec3_card_content > p:nth-child(2) {
    font-size: 18px;
  }
}

/* ================================================================= 
    테블릿 ----------------------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 첫번째 섹션------------------------- */

  .sub2_sec1 {
    padding: 150px 0;
  }
  .sub2_sec1_con {
    width: 92%;
    margin: 0 auto;
  }
  .swiper_mySwiper {
    height: auto;
  }

  .sub2_sec1_top {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .sub2_sec1_top h2 {
    font-size: clamp(32px, 3vw, 38px);
  }

  #sub2_sec1_all_menu {
    padding: 0;
  }
  #sub2_sec1_all_menu > ul {
    gap: 0px;
    justify-content: center;
  }

  #sub2_sec1_all_menu > ul > li {
    width: 87px;
  }
  #sub2_sec1_all_menu > ul > li > a {
    font-size: clamp(12px, 2vw, 16px);
  }
  .swiper_mySwiper .swiper-slide > div:first-child {
    width: 100%;
    height: 60vw;
    margin-bottom: 12px;
  }
  .swiper_mySwiper .sec1_card_content {
    width: 100%;
  }
  .swiper-slide {
    width: 280px;
    height: 40vw;
  }

  .swiper_mySwiper p:nth-child(1) {
    font-size: clamp(18px, 2.6vw, 26px);
  }
  .swiper_mySwiper p:nth-child(2) {
    font-size: clamp(16px, 2.6vw, 24px);
  }

  /* 두번째 섹션------------------------- */
  .sub2_sec2_con {
    width: 92%;
    margin: 0 auto;
  }

  .sub2_sec2_top h2 {
    font-size: clamp(32px, 3vw, 38px);
  }

  #sub2_sec2_all_menu {
    padding: 0;
  }
  #sub2_sec2_all_menu > ul {
    gap: 0px;
  }

  #sub2_sec2_all_menu > ul > li {
    width: 90px;
  }
  #sub2_sec2_all_menu > ul > li > a {
    font-size: clamp(14px, 2vw, 16px);
  }
  .sec2_card > div:first-child {
    width: 28vw;
    height: 38vw;
    margin-bottom: 8px;
  }

  .sec2_card .sec2_card_content > p:nth-child(1) {
    font-size: clamp(14px, 2vw, 20px);
  }

  .sec2_card .sec2_card_content > p:nth-child(2) {
    font-size: clamp(14px, 2vw, 20px);
  }
  .sec2_card:nth-child(4) {
    display: none;
  }

  .sub2_sec2_bottom {
    height: auto;
    gap: 20px;
  }

  /* 세번째 섹션------------------------- */
  .sub2_sec3_bottom {
    height: 1264px;
    padding: 0;
  }

  .sub2_sec3 {
    padding: 150px 0;
  }

  #sub2_sec3_all_menu {
    padding: 0;
  }
  .sub2_sec3_top h2 {
    font-size: clamp(32px, 3vw, 38px);
  }
  #sub2_sec3_all_menu > ul {
    gap: 0px;
  }

  #sub2_sec3_all_menu > ul > li {
    width: 90px;
  }
  #sub2_sec3_all_menu > ul > li > a {
    font-size: clamp(14px, 2vw, 16px);
  }

  .sec3_card > div:first-child {
    width: 200px;
    height: 300px;
  }

  .sec3_card .sec3_card_content {
    margin-bottom: 8px;
  }
  .sec3_card .sec3_card_content > p:nth-child(1) {
    font-size: clamp(16px, 2.8vw, 18px);
  }
  .sec3_card .sec3_card_content > p:nth-child(2) {
    font-size: clamp(14px, 2.8vw, 16px);
  }
}

/* ================================================================= 
    모바일 ----------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .floating_btn {
    width: 40px;
    height: 40px;
  }
  .sub2_sec1 {
    padding: 120px 0;
  }
  .sub2_sec1_con {
    width: 92%;
    margin: 0 auto;
  }
  .swiper_mySwiper {
    height: auto;
  }

  .sub2_sec1_top {
    margin-bottom: 35px;
  }
  .sub2_sec1_top h2 {
    font-size: clamp(26px, 5vw, 38px);
  }
  .swiper-wrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  #sub2_sec1_all_menu {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  #sub2_sec1_all_menu > ul {
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #sub2_sec1_all_menu > ul > li {
    width: 76px;
    justify-content: center;
  }
  #sub2_sec1_all_menu > ul > li > a {
    font-size: clamp(13px, 2vw, 16px);
    line-height: 38px;
  }

  .swiper-slide swiper-slide-next {
    width: 38vw;
  }
  .swiper_mySwiper .swiper-slide > div:first-child {
    max-width: 100%;
    margin-bottom: 10px;
    height: 65vw;
  }

  .swiper-slide {
    width: 280px;
  }
  .swiper_mySwiper .sec1_card_content {
    width: 100%;
    text-align: center;
  }

  .swiper_mySwiper p:nth-child(1) {
    font-size: clamp(12px, 4vw, 16px);
    line-height: 30px;
  }
  .swiper_mySwiper p:nth-child(2) {
    font-size: clamp(12px, 4vw, 16px);
  }

  .swiper_mySwiper .sec1_card_content {
    margin-right: 76px;
  }
  /* 두번째 섹션------------------------- */

  .sub2_sec2 {
    padding: 60px 0;
  }

  .sub2_sec2_con {
    width: 92%;
    margin: 0 auto;
  }

  .sub2_sec2_top h2 {
    font-size: clamp(26px, 5vw, 38px);
  }

  #sub2_sec2_all_menu {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  #sub2_sec2_all_menu > ul {
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #sub2_sec2_all_menu > ul > li {
    width: 76px;
    justify-content: center;
  }
  #sub2_sec2_all_menu > ul > li > a {
    font-size: clamp(13px, 2vw, 16px);
    line-height: 38px;
  }
  .sec2_card > div:first-child {
    width: 38vw;
    height: 53vw;
    margin-bottom: 0px;
  }

  .sec2_card .sec2_card_content > p:nth-child(1) {
    font-size: clamp(9px, 2.6vw, 18px);
    line-height: 35px;
  }

  .sec2_card .sec2_card_content > p:nth-child(2) {
    font-size: clamp(10px, 2.6vw, 16px);
  }
  .sec2_card:nth-child(4) {
    display: block;
  }

  .sub2_sec2_bottom {
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
  }

  /* 세번째 섹션------------------------- */
  .sub2_sec3_con {
    width: 92%;
    height: 100%;
    margin: 0 auto;
  }
  .sub2_sec3_bottom {
    height: auto;
    padding: 0;
    height: 1020px;
  }
  .sub2_sec3_top h2 {
    font-size: clamp(26px, 5vw, 38px);
  }
  #sub2_sec3_all_menu {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  #sub2_sec3_all_menu > ul {
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #sub2_sec3_all_menu > ul > li {
    width: 76px;
    justify-content: center;
  }
  #sub2_sec3_all_menu > ul > li > a {
    font-size: clamp(13px, 2vw, 16px);
    line-height: 38px;
  }

  .sec3_card > div:first-child {
    width: 39vw;
    height: auto;
    margin-bottom: 8px;
  }
  .sec3_card .sec3_card_content > p:nth-child(1) {
    font-size: clamp(11px, 3vw, 18px);
  }
  .sec3_card .sec3_card_content > p:nth-child(2) {
    font-size: clamp(12px, 3vw, 18px);
  }
}
