@charset "utf-8";
@import url("./common_responsive.css");

/* ================================================================= 
    큰 노트북 ----------------------------------------------------- */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 첫번째 섹션------------------------- */
  .sub3_sec1_con {
    width: 95%;
    margin: 0 auto;
  }

  .swiper_mySwiper {
    height: auto;
  }
  .swiper_mySwiper .swiper-slide > div:first-child {
    width: 300px;
    height: 410px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    width: 300px;
  }
  /* 두번째 섹션------------------------- */
  .sub3_sec2 {
    display: none;
  }
  /* 세번째 섹션------------------------- */
  .sub3_sec3 {
    display: none;
  }
}

/* ================================================================= 
    작은 노트북 ----------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* ================================================================= 
    테블릿 ----------------------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* ================================================================= 
    모바일 ----------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
}
