@charset "utf-8";
@import url("./common_responsive.css");

/* ================================================================= 
    큰 노트북 ----------------------------------------------------- */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 첫번쨰 섹션--------------------------------------------------- */
  .sub5_sec1 {
    padding: 200px 0;
    padding-bottom: 150px;
  }

  .sub5_sec1_top h2 {
    font-size: clamp(38px, 3vw, 42px);
  }
  #sub5_sec1_all_menu {
    width: 84%;
  }
  .menu_search_wrap {
    width: 94%;
    gap: 15px;
  }
  /* 두번쨰 섹션--------------------------------------------------- */
  .sub5_sec1_bottom {
    width: 100%;
  }
  .customer_wrap1 {
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .customer_wrap1_box1 {
    padding: 32px 10px;
    gap: 0;
    width: 40vw;
  }

  /* 세번쨰 섹션--------------------------------------------------- */
  .customer_content {
    width: 97%;
    padding: 0 20px;
  }
  .customer_content_wrap {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .customer_content > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .customer_content_box {
    gap: 13px;
    padding: 16px 12px;
    width: fit-content;
  }
  /* 네번쨰 섹션--------------------------------------------------- */

  .customer_wrap2 h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 180px;
  }

  .cutomer_wrap2_box {
    margin: 0 auto;
    width: 95%;
  }
  /* 다섯번쨰 섹션--------------------------------------------------- */

  .customer_wrap3_box {
    margin: 0 auto;
    width: 95%;
  }
  .customer_wrap3 > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

/* ================================================================= 
    작은 노트북 ----------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 첫번쨰 섹션--------------------------------------------------- */
  .sub5_sec1 {
    padding: 200px 0;
    padding-bottom: 150px;
  }

  .sub5_sec1_top h2 {
    font-size: clamp(38px, 5vw, 42px);
  }
  #sub5_sec1_all_menu {
    width: fit-content;
  }
  #sub5_sec1_all_menu > ul {
    gap: 10px;
  }

  #sub5_sec1_all_menu > ul > li {
    width: 100px;
    height: 100%;
  }
  .search_bar {
    width: 49%;
  }
  .menu_search_wrap {
    width: 94%;
    gap: 15px;
  }
  /* 두번쨰 섹션--------------------------------------------------- */
  .sub5_sec1_bottom {
    width: 100%;
  }
  .customer_wrap1 {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .customer_wrap1_box1 {
    padding: 32px 10px;
    gap: 0;
    width: 55vw;
  }

  /* 세번쨰 섹션--------------------------------------------------- */
  .customer_content {
    width: 100%;
  }
  .customer_content_wrap {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .customer_content > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .customer_content_box {
    gap: 13px;
    padding: 16px 12px;
    width: 45vw;
  }
  /* 네번쨰 섹션--------------------------------------------------- */

  .customer_wrap2 h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 180px;
  }

  .cutomer_wrap2_box {
    margin: 0 auto;
    width: 95%;
  }
  /* 다섯번쨰 섹션--------------------------------------------------- */
  .customer_wrap3 {
  }
  .customer_wrap3_box {
    margin: 0 auto;
    width: 95%;
  }
  .customer_wrap3 > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

/* ================================================================= 
    테블릿 ----------------------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .sub5_sec1 {
    padding: 200px 0;
    padding-bottom: 150px;
  }

  .sub5_sec1_top h2 {
    font-size: clamp(34px, 4.8vw, 38px);
  }
  #sub5_sec1_all_menu {
    width: fit-content;
  }
  #sub5_sec1_all_menu > ul {
    gap: 10px;
  }

  #sub5_sec1_all_menu > ul > li {
    width: 100px;
    height: 100%;
  }
  .search_bar {
    width: 65%;
  }
  .menu_search_wrap {
    width: 94%;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* 두번쨰 섹션--------------------------------------------------- */
  .sub5_sec1_bottom {
    width: 100%;
  }
  .customer_wrap1 {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .customer_wrap1_box1 {
    padding: 32px 10px;
    gap: 0;
    width: 78vw;
  }

  /* 세번쨰 섹션--------------------------------------------------- */
  .customer_content {
    width: 100%;
  }
  .customer_content_wrap {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .customer_content > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .customer_content_box {
    gap: 13px;
    padding: 16px 12px;
    width: 72vw;
  }
  /* 네번쨰 섹션--------------------------------------------------- */
  .customer_wrap2 h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 180px;
  }

  .cutomer_wrap2_box {
    margin: 0 auto;
    width: 95%;
  }
  /* 다섯번쨰 섹션--------------------------------------------------- */
  .customer_wrap3_box {
    margin: 0 auto;
    width: 95%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .customer_wrap3 > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

/* ================================================================= 
    모바일 ----------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .floating_btn {
    width: 40px;
    height: 40px;
  }
  .sub5_sec1 {
    padding: 140px 0;
    padding-bottom: 150px;
  }

  .sub5_sec1_top h2 {
    font-size: clamp(34px, 4.8vw, 38px);
    margin-bottom: 40px;
  }
  #sub5_sec1_all_menu {
    width: fit-content;
  }
  #sub5_sec1_all_menu > ul {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #sub5_sec1_all_menu > ul > li {
    width: 100px;
    height: 100%;
  }
  #sub5_sec1_all_menu > ul > li > a {
    font-size: 18px;
  }
  .search_bar {
    width: 86%;
  }
  .menu_search_wrap {
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .customer_wrap1_box1_left h2 {
    font-size: 22px;
  }
  .customer_wrap1_box1_left > .plus_wrap > div {
    margin-top: 2px;
  }
  .customer_wrap1_box1_left > .plus_wrap > p {
    font-size: 16px;
  }

  /* 두번쨰 섹션--------------------------------------------------- */
  .sub5_sec1_bottom {
    width: 100%;
  }

  .customer_wrap1_box1_left > p {
    font-size: 16px;
  }
  .customer_wrap1 {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .customer_wrap1_box1 {
    padding: 10px 20px;
    gap: 0;
    flex-direction: column-reverse;
  }
  .customer_wrap1_box1_right > div {
    width: 80px;
    height: 80px;
  }
  .customer_wrap1_box1_left {
    width: 100%;
  }
  .customer_wrap1_box1_right {
    width: 100px;
    margin-right: auto;
    transition: 0.4s;
  }

  /* 세번쨰 섹션--------------------------------------------------- */
  .customer_content {
    width: 100%;
  }
  .customer_content_wrap {
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
  }
  .customer_content > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .customer_content_box {
    gap: 13px;
    padding: 16px 12px;
    width: fit-content;
    flex-wrap: wrap;
  }
  .customer_wrap p {
    font-size: 15px;
    margin-right: 8px;
  }

  /* 네번쨰 섹션--------------------------------------------------- */
  .customer_wrap2 h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 180px;
  }

  .cutomer_wrap2_box {
    margin: 0 auto;
    width: 95%;
  }
  /* 다섯번쨰 섹션--------------------------------------------------- */
  .customer_wrap3_box {
    margin: 0 auto;
    width: 95%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .customer_wrap3 > h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
