@charset "utf-8";
@import url("../../reset.css");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff");

body {
  font-family: "NEXON Lv2 Gothic";
  font-size: 16px;
  background-color: #fff;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.2);
  position: fixed;
  z-index: 999;
  background-color: #fff;
}

.con {
  width: 1650px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  width: fit-content;
  height: fit-content;
  align-self: center;
}

#gnb {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 60px;
  align-items: center;
}

#gnb > ul > li {
  width: 110px;
  height: 100%;
}

#gnb > ul > li > a {
  width: 100%;
  height: fit-content;
  font-size: 17px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s;
  line-height: 50px;
  border-bottom: 2px solid #fff;
}

#gnb > ul > li:hover > a {
  font-size: 18px;
  font-weight: 600;
  /* color: var(--main-color); */
  border-bottom: 2px solid var(--main-color);
  line-height: 50px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.icons div {
  transition: 0.3s;
}
.icons div:hover {
  transform: scale(1.2);
}

/*섹션 공통*/
section {
  width: 100%;
  height: auto;
}

.sub5_sec1 {
  padding: 200px 0;
}

/* 공지사항 - 제목, 메뉴, 검색창 */
.sub5_sec1_top {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}

/* 공지사항 - 제목 */
.sub5_sec1_top h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

/* 공지사항 메뉴, 검색창 */
.menu_search_wrap {
  display: flex;
  width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
}

/* 공지사항 메뉴 */
#sub5_sec1_all_menu {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}

#sub5_sec1_all_menu > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 60px;
  align-items: center;
}

#sub5_sec1_all_menu > ul > li {
  width: 110px;
  height: 100%;
}

#sub5_sec1_all_menu > ul > li > a {
  width: 100%;
  height: fit-content;
  font-size: 20px;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
  line-height: 50px;
  border-bottom: 2px solid #fff;
}

#sub5_sec1_all_menu > ul > li:hover > a {
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
}

/* 검색창 */
.search_bar {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #999;
  padding: 10px 22px;
  box-sizing: border-box;
}

.search_bar > div {
  width: 24px;
  height: 24px;
}

.search_bar > div > img {
  width: 100%;
  height: 100%;
}

.search_bar > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: block;
  text-decoration: none;
  font-size: var(--xs-font-size);
}

/* 고객센터 내용 */
.sub5_sec1_bottom {
  width: 1600px;
  height: 1200px;
  margin: 0 auto;
}

.customer_wrap1 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

/* 고객센터 섹션 */
.customer_wrap1_box1 {
  width: fit-content;
  height: fit-content;
  padding: 32px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.customer_wrap1_box1_left {
  width: 300px;
}

/* 고객센터 첫번째 섹션 왼쪽 글자 */
.customer_wrap1_box1_left h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.customer_wrap1_box1_left > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.customer_wrap1_box1_left > .plus_wrap > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--main-color);
}

.customer_wrap1_box1_left > .plus_wrap {
  display: flex;
  gap: 10px;
}
.customer_wrap1_box1_left > .plus_wrap > div {
  width: 40px;
  height: 40px;
}

.customer_wrap1_box1_left > .plus_wrap > div > img {
  color: #ffcd34;
}
/* 고객센터 첫번째 섹션 오른쪽 사진 */
.customer_wrap1_box1_right {
  width: 100px;
}

.customer_wrap1_box1_right > div {
  width: 100px;
  height: 100px;
}

.customer_wrap1_box1_right > div > img {
  width: 100%;
  height: 100%;
}

/* 티켓 안내 */
.customer_wrap2 {
  width: 100%;
  height: fit-content;
  margin-top: 100px;
}

/* 티켓 안내 - 제목 */
.customer_wrap2 h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 60px;
}

/* 티켓 안내 - 박스 */
.customer_wrap2_box1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.wrap2_box1_left p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.wrap2_box1_right img {
  cursor: pointer;
}

/* 이용안내 */
.customer_wrap3 {
  width: 100%;
  height: fit-content;
  margin-top: 100px;
}

.customer_wrap3 > h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 60px;
}

.customer_wrap3_box1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.wrap3_box1_right > img {
  cursor: pointer;
}
