@charset "utf-8";
@import url("../../reset.css");
@import url("../../common.css");

/* =================================================================== */
/* 위로 올라가는 플로팅 버튼 */
.floating_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* 첫번째 섹션 */
.sub1_sec1 {
  width: 100%;
  height: 800px;
  padding: 100px 0;
  background-image: url(../../../img/sub01/introduce_main.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: -200px -400px;
  background-attachment: fixed;
}
.sub1_sec1_con {
  width: 100%;
}
/* 첫번째 섹션 글자박스 */
.sec1_text_wrap {
  text-align: center;
  margin-top: 16%;
}

/* 글자 - 아트코트 */
.sec1_text_wrap > h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 800;
  opacity: 0;
  transform: translateY(10%);
  animation: slideUp 4s forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* 글자 - 행복한 문화생활, 티켓 예매 서비스, 안전한 티켓거래  */
.sec1_text_box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.849);
  gap: 50px;
  font-size: 25px;
  opacity: 0;
  transform: translateY(20%);
  animation: smslideUp 6s forwards;
}
@keyframes smslideUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* 두번째 섹션 */
.sub1_sec2_con {
  width: 100%;
  height: 680px;
  background-color: #332f2d;
  margin-top: 250px;
}

.sec2_box_wrap {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.number1 div:nth-child(2) {
  overflow: hidden;
}
.number2 div:nth-child(2) {
  overflow: hidden;
}
.number3 div:nth-child(2) {
  overflow: hidden;
}
/* 두번째 섹션 왼쪽 박스 3개 */
.number_left {
  width: fit-content;
  height: fit-content;
}
/* 연간 거래액 박스 */
.number_left > .number1 {
  background-color: #fafafa;
  padding: 35px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  gap: 50px;
  margin-bottom: 40px;
}

.number_left > .number1 p:first-child {
  font-size: 30px;
  font-weight: 600;
}

.number_left > .number1 p:nth-child(2) {
  font-size: 28px;
  font-weight: 300;
  line-height: 70px;
}

/* 연간 가입자 수 박스 */
.number_left > .number2 {
  background-color: #fafafa;
  padding: 35px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  gap: 50px;
  margin-bottom: 40px;
}

.number_left > .number2 p:first-child {
  font-size: 30px;
  font-weight: 600;
}
.number_left > .number2 p:nth-child(2) {
  font-size: 28px;
  font-weight: 300;
  line-height: 70px;
}

/* 연간 거래량 박스 */
.number_left > .number3 {
  background-color: #fafafa;
  padding: 35px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  gap: 50px;
}

.number_left > .number3 p:first-child {
  font-size: 30px;
  font-weight: 600;
}
.number_left > .number3 p:nth-child(2) {
  font-size: 28px;
  font-weight: 300;
  line-height: 70px;
}

/* 두번째 섹션 오른쪽 글자 */

.number_right {
  color: #fff;
  top: 40%;
  right: 20%;
  line-height: 50px;
  opacity: 0;
  transform: translateY(30%);
  animation: slideUp 3s forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.number_right div {
  font-size: 38px;
  font-weight: 600;
  margin-right: 10px;
}
.number_right > p:nth-of-type(1) {
  font-size: 38px;
  font-weight: 600;
}

.number_right div span {
  color: #ffcd34;
}
.number_right > p:nth-of-type(2) {
  font-size: 25px;
  font-weight: 300;
  margin-top: 40px;
}

/* 세번째 섹션  */

.sub1_sec3 {
  width: 100%;
  height: 100%;
}

.sub1_sec3_con {
  width: 80vw;
  height: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.history_left {
  width: 100%;
  height: 100%;
  position: relative;
}
.history {
  width: fit-content;
  height: auto;
  position: sticky;
  top: 25%;
  padding: 200px 0;
}
.history_left p {
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  color: #332f2d;
}

.history_left p span {
  color: #ffcd34;
}

/* 세번째 섹션 오른쪽 글자  */
.history_right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* 2024년 */
.history1 {
  margin-bottom: 70px;
}

.history1 > p {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}

.history1 > p::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #332f2d;
  margin-bottom: 5px;
  margin-right: 20px;
}

.history1_wrap {
  display: flex;
  gap: 2.8vw;
}

.history1_wrap_left {
  text-align: end;
  color: #858585;
  margin-left: 60px;
}

.history1_wrap_left p {
  font-size: 28px;
  line-height: 70px;
}

.history1_wrap_right p {
  font-size: 28px;
  line-height: 70px;
}

/* 2023년 */
.history2 {
  margin-bottom: 70px;
}
.history2 > p {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}

.history2 > p::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #332f2d;
  margin-bottom: 5px;
  margin-right: 20px;
}

.history2_wrap {
  display: flex;
  gap: 2.8vw;
}

.history2_wrap_left {
  text-align: end;
  color: #858585;
  margin-left: 60px;
}

.history2_wrap_left p {
  font-size: 28px;
  line-height: 70px;
}

.history2_wrap_right p {
  font-size: 28px;
  line-height: 70px;
}

/* 2022년 */
.history3 > p {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}

.history3 > p::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #332f2d;
  margin-bottom: 5px;
  margin-right: 20px;
}

.history3_wrap {
  display: flex;
  gap: 2.8vw;
}

.history3_wrap_left {
  text-align: end;
  color: #858585;
  margin-left: 60px;
}

.history3_wrap_left p {
  font-size: 28px;
  line-height: 70px;
}

.history3_wrap_right p {
  font-size: 28px;
  line-height: 70px;
}

/* 네번째 섹션 */

.sub1_sec4 {
  width: 100%;
  height: 100%;
}
.sub1_sec4_con {
  width: 1500px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 200px;
}
.service_top {
  margin-bottom: 100px;
}
.service_top p {
  font-size: 38px;
  font-weight: 600;
  color: #332f2d;
  text-align: center;
}

/* 네번째 섹션  - 아래 박스 3개  */
.service_bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.service_bottom .service_box {
  width: 300px;
  height: 300px;
  border: 1px solid #e9e9e9;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.service_bottom .service_box:hover {
  border: 1px solid #ffcd34;
}

.service_box p:nth-of-type(1) {
  font-size: 28px;
  font-weight: 500;
  line-height: 80px;
}

.service_box p:nth-of-type(2) {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.service_bottom .service_box {
  opacity: 0;
  transform: translateY(20%);
  animation: slideIn 4s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
    border: 1px solid #ffcd34;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
