@charset "utf-8";
@import url("../../reset.css");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff");

body {
  font-family: "NEXON Lv2 Gothic";
  font-size: 16px;
  background-color: #fff;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.2);
  position: fixed;
  z-index: 999;
  background-color: #fff;
}

.con {
  width: 1650px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  width: fit-content;
  height: fit-content;
  align-self: center;
}

#gnb {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 60px;
  align-items: center;
}

#gnb > ul > li {
  width: 110px;
  height: 100%;
}

#gnb > ul > li > a {
  width: 100%;
  height: fit-content;
  font-size: 17px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s;
  line-height: 50px;
  border-bottom: 2px solid #fff;
}

#gnb > ul > li:hover > a {
  font-size: 18px;
  font-weight: 600;
  /* color: var(--main-color); */
  border-bottom: 2px solid var(--main-color);
  line-height: 50px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.icons div {
  transition: 0.3s;
}
.icons div:hover {
  transform: scale(1.2);
}

/*섹션 공통*/
section {
  width: 100%;
  height: auto;
}

/*섹션 공통*/
section {
  width: 100%;
  height: auto;
}

.sub4_sec1 {
  padding: 200px 160px;
}

.sub4_sec1_con {
  width: 1600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sub4_sec1_con_text {
  width: fit-content;
  height: 100%;
}

.sub4_sec1_text_top h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 70px;
}

.sub4_sec1_text_top p:nth-of-type(1) {
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;
}
.sub4_sec1_text_top p:nth-of-type(2) {
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

.sub4_sec1_text_bottom {
  display: flex;
  margin-top: 130px;
  gap: 140px;
}

.sub4_sec1_text_bottom div p:first-child {
  font-size: 28px;
  font-weight: 500;
  color: #3e3e3e;
}
.sub4_sec1_text_bottom div p:nth-child(2) {
  font-size: 28px;
  font-weight: 300;
  margin-left: 50px;
  line-height: 80px;
  color: #3e3e3e;
}

.sub4_sec1_text_bottom p:first-child:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #3e3e3e;
  border-radius: 100%;
  margin-right: 30px;
}

.sub4_sec1_con_img {
  width: fit-content;
  height: fit-content;
}

.sub4_sec1_con_img div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

/* 두번째 섹션 */
.sub4_sec2 {
  padding: 100px 0;
  width: 100%;
  height: fit-content;
  background-color: #332f2d;
}

.sub4_sec2_con {
  width: 100%;
  height: fit-content;
}

/* 안심거래  - 제목, 메뉴 */
.sub4_sec2_top {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* 안심거래  - 제목 */
.sub4_sec2_top h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

/* 안심거래 - 메뉴 */
#sub4_sec2_all_menu {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #4b4644;
  border-radius: 20px;
  padding: 0 20px;
}

#sub4_sec2_all_menu > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 60px;
  align-items: center;
}

#sub4_sec2_all_menu > ul > li {
  width: 110px;
  height: 100%;
}

#sub4_sec2_all_menu > ul > li > a {
  width: 100%;
  height: fit-content;
  font-size: 20px;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
  line-height: 50px;
  color: #fff;
}

#sub4_sec2_all_menu > ul > li:hover > a {
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
}

/* 안심거래 이미지영역 */
.sub4_sec2_bottom {
  width: 100%;
  height: 630px;
  display: flex;
  overflow: hidden;
  gap: 30px;
  justify-content: center;
}

.sec2_card {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.sec2_card > div:first-child {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
}

.sec2_card > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_card .sec2_card_content {
  width: 350px;
  text-align: center;
}
.sec2_card .sec2_card_content > p:nth-child(1) {
  font-size: 26px;
  font-weight: 400;
  line-height: 45px;
  color: #fff;
}
.sec2_card .sec2_card_content > p:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
