@charset "utf-8";
@import url("../../reset.css");
@import url("../../common.css");

/* =================================================================== */
/* 위로 올라가는 플로팅 버튼 */
.floating_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* 첫번째 섹션 */
.sub3_sec1 {
  padding: 200px 0 100px;
  width: 100%;
  height: fit-content;
}

.sub3_sec1_con {
  width: 100%;
  height: 100%;
}

/* 24th 타임세일 - 제목, 메뉴 */
.sub3_sec1_top {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* 24th 타임세일 - 제목 */
.sub3_sec1_top h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

/* 24th 타임세일 - 이미지영역 */
.swiper_my {
  width: 100%;
  height: 820px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: fit-content;
  text-align: center;
}
.swiper_my .swiper-slide > div:first-child {
  width: 450px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
}

.swiper_my .swiper-slide > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper_my .sec1_card_content {
  text-align: center;
}

.swiper_my p:nth-child(1) {
  font-size: 26px;
  font-weight: 400;
  line-height: 45px;
}
.swiper_my p:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
}

/* 두번째 섹션 */
.sub3_sec2 {
  padding: 100px 0;
  width: 100%;
  height: fit-content;
  background-color: #332f2d;
}

.sub3_sec2_con {
  width: 100%;
  height: 750px;
}

/* best리뷰이벤트 - 위 / 제목, 메뉴 */
.sub3_sec2_top {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* best리뷰이벤트 - 제목 */
.sub3_sec2_top h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
  color: #fff;
}

/* best리뷰이벤트 - 베스트리뷰 아이디 */
.sub3_sec2_id {
  display: flex;
  gap: 50px;
  background-color: #4b4644;
  padding: 18px 30px;
  border-radius: 30px;
}

.sub3_sec2_id p:nth-child(1) {
  color: #ffcd34;
}

.sub3_sec2_id p:nth-child(2) {
  color: #fff;
}

/* best리뷰이벤트 - 아래 */
.sub3_sec2_bottom {
  width: fit-content;
  height: 630px;
  margin: 0 auto;
}

/* best리뷰이벤트 - 공연 이름 박스 */
.sub3_sec2_name {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 20px;
}

/* best리뷰이벤트 - 공연 이름 4개*/

/* .sub3_sec2_name p:nth-child(1) {
  background-color: #544b48;
  width: 280px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  color: #fff;
}
.sub3_sec2_name p:nth-child(2) {
  background-color: #544b48;
  width: 280px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  color: #fff;
}
.sub3_sec2_name p:nth-child(3) {
  background-color: #544b48;
  width: 280px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  color: #fff;
}
.sub3_sec2_name p:nth-child(4) {
  background-color: #544b48;
  width: 280px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  color: #fff;
}
  */

/* best리뷰이벤트 - 이미지영역 */
.sub3_sec2_review {
  display: flex;
  gap: 65px;
  margin-bottom: 20px;
}

/* 리뷰 박스 4개 */
.sub3_sec2_review1 {
  width: 366px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
}
.sub3_sec2_review2 {
  width: 366px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
}
.sub3_sec2_review3 {
  width: 366px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
}
.sub3_sec2_review4 {
  width: 366px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
}

/* 리뷰박스 공통 이미지영역 */

.sub3_sec2_review_img {
  width: 366px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.sub3_sec2_review_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 리뷰박스 공통 텍스트영역 */
.sub3_sec2_review_text {
  height: 250px;
  padding: 20px;
}
.sec2_review_text_top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sec2_review_text_top p:nth-child(1) {
  background-color: #ffcd34;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 20px;
}

.sec2_review_text_top p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  color: #332f2d;
}

.sec2_review_text_middle {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 22px;
}
.sec2_review_text_middle > div {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #949494;
  overflow: hidden;
}

.sec2_review_text_middle p {
  color: #949494;
  font-size: 14px;
}

.sub3_sec2_review_text > p {
  color: #646464;
  font-size: 14px;
  line-height: 30px;
  width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 이달의 이벤트 */
.sub3_sec3 {
  width: 100%;
  height: auto;
  padding: 200px 0;
}

.sub3_sec3_con {
  width: 1600px;
  height: fit-content;
  margin: 0 auto;
}

/* 이달의 이벤트 위 - 제목, 기간 */
.sub3_sec3_top {
  margin-bottom: 60px;
}

/* 이달의 이벤트 - 제목 */
.sub3_sec3_top h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

/* 이달의 이벤트 - 기간 */
.sub3_sec3_top p {
  font-size: 20px;
  text-align: end;
}

/* 이달의 이벤트 아래 - 이벤트 4개 */
.sub3_sec3_bottom {
  width: 100%;
  height: auto;
}

/* 이달의 이벤트 위에 2개 */
.sub3_sec3_wrap1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

/* 이달의 이벤트 아래 2개 */
.sub3_sec3_wrap2 {
  display: flex;
  justify-content: space-between;
}
.event_box {
  width: auto;
}
.event_box div:nth-child(1) {
  margin-bottom: 30px;
}

.event_box div:first-child {
  width: 745px;
  height: 421px;
  overflow: hidden;
  border-radius: 20px;
}
.event_box div:nth-child(2) {
  width: auto;
}
.event_box div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.4s;
}

/* 이벤트4개에 각 마우스 오버하면 커짐 */
.event_box img:hover {
  transform: scale(1.05);
}

/* 이달의 이벤트 글자 설명 */
.event_box div:nth-child(2) p:nth-child(1) {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.event_box div:nth-child(2) p:nth-child(2) {
  font-size: 20px;
  font-weight: 300;
}
